html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  width: 750px;
  border: 3px solid red;
  padding: 1rem;
}

.header {
  position: relative;
  top: 1rem;
  left: 1rem;
  margin-bottom: 2rem;
}

.banner {
  display: inline-block;
  height: 25rem;
  width: 50rem;
  border: 3px solid black;
}

.logo {
  border: 3px solid black;
  position: absolute;
  left: 50.5rem;
  bottom: 13.3rem;
  padding: 2rem 6.2rem;
}

.login {
  position: absolute;
  left: 50.5rem;
  bottom: 0.2rem;
  border: 3px solid black;
  padding: 2rem 5.8rem;
}

.nav-bar {
  margin: 2rem 1rem;
  border: 3px solid black;
  height: 5rem;
  margin-bottom: 2rem;
}

.main {
  text-align: center;
  padding: 1rem;
  position: relative;
  padding: 0.5rem;
  height: 40rem;
  margin-bottom: 1rem;
}

.article {
  border: 2px solid black;
  width: 50rem;
  margin: 1rem;
  position: absolute;
  margin: 0 auto;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.aside-left {
  border: 2px solid black;
  width: 10rem;
  height: 40rem;
  position: absolute;
  bottom: 1px;
}

.aside-right {
  margin-left: 1rem;
  border: 2px solid black;
  width: 10rem;
  height: 40rem;
  position: absolute;
  left: 61rem;
  bottom: 0.1rem;
}

.footer {
  border: 2px solid black;
  height: 5rem;
  margin: 0 0.5rem 1rem;
}
